# Logs
*.log
ruby_backend/tft_team_builder/log/*.log

# Rails runtime cache / tmp (but NOT the doc folder)
ruby_backend/tft_team_builder/tmp/cache/
ruby_backend/tft_team_builder/tmp/pids/
ruby_backend/tft_team_builder/tmp/sockets/
ruby_backend/tft_team_builder/tmp/storage/

# Node modules (frontend)
frontend/tft-builder/node_modules/

# Frontend build outputs / cache
frontend/tft-builder/dist/
frontend/tft-builder/.vite/

# OS files
.DS_Store
Thumbs.db

# pull.md
pull.md

# YARD cache (but allow doc folder for GitHub Pages)
ruby_backend/tft_team_builder/.yardoc/

