<div id="<%= dom_id team_comp %>">
  <p>
    <strong>Name:</strong>
    <%= team_comp.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team_comp.description %>
  </p>

  <p>
    <strong>Champions:</strong>
    <%= team_comp.champions %>
  </p>

</div>
