<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to TFT Team Builder</h1>
    <p class="col-md-8 fs-4">
      Here, you can browse all champions and traits, freely mix and match your ideal team compositions, and save and share your strategies.
    </p>
    <hr class="my-4">
    <p>Ready to get started?</p>
    <%= link_to "Browse All Champions", champions_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Create My First Team", new_team_comp_path, class: "btn btn-success btn-lg" %>
  </div>
</div>